[submodule "prometheus"]
	path = prometheus
	url = https://github.com/prometheus/prometheus.git
[submodule "prometheus-operator"]
	path = prometheus-operator
	url = https://github.com/prometheus-operator/prometheus-operator.git
[submodule "alertmanager"]
	path = alertmanager
	url = https://github.com/prometheus/alertmanager.git
[submodule "thanos"]
	path = thanos
	url = https://github.com/thanos-io/thanos.git
[submodule "kube-state-metrics"]
	path = kube-state-metrics
	url = https://github.com/kubernetes/kube-state-metrics.git
