[submodule "prometheus"]
	path = prometheus
	url = https://github.com/prometheus/prometheus.git
[submodule "prometheus-operator"]
	path = prometheus-operator
	url = https://github.com/prometheus-operator/prometheus-operator.git
[submodule "alertmanager"]
	path = alertmanager
	url = https://github.com/prometheus/alertmanager.git
[submodule "thanos"]
	path = thanos
	url = https://github.com/thanos-io/thanos.git
[submodule "kube-state-metrics"]
	path = kube-state-metrics
	url = https://github.com/kubernetes/kube-state-metrics.git
[submodule "node-exporter"]
	path = node-exporter
	url = https://github.com/prometheus/node_exporter.git
[submodule "kube-rbac-proxy"]
	path = kube-rbac-proxy
	url = https://github.com/brancz/kube-rbac-proxy.git
[submodule "grafana"]
	path = grafana
	url = https://github.com/grafana/grafana.git
[submodule "kube-thanos"]
	path = kube-thanos
	url = https://github.com/thanos-io/kube-thanos.git
[submodule "observatorium-operator"]
	path = observatorium-operator
	url = https://github.com/observatorium/operator.git
	branch = master
